<div class="px-4 py-5 sm:p-6">
    <div class="flex flex-col">
        <div class="m-4">
            <label
                for="container-name"
                class="block text-sm font-medium text-gray-700"
                >Container Name</label
            >
            <input
                type="text"
                name="container-name"
                id="container-name"
                class="
                    mt-1
                    focus:ring-indigo-500 focus:border-indigo-500
                    block
                    w-full
                    shadow-sm
                    sm:text-sm
                    border-gray-300
                    rounded-md
                    py-2
                    px-4
                "
            />
        </div>

        <div class="m-4">
            <label
                for="image-name"
                class="block text-sm font-medium text-gray-700"
                >Image Name</label
            >
            <input
                type="text"
                name="image-name"
                id="image-name"
                class="
                    mt-1
                    focus:ring-indigo-500 focus:border-indigo-500
                    block
                    w-full
                    shadow-sm
                    sm:text-sm
                    border-gray-300
                    rounded-md
                    py-2
                    px-4
                "
            />
        </div>

        <div class="m-4">
            <label for="hosts" class="block text-sm font-medium text-gray-700"
                >Hosts (Separated by commas)</label
            >
            <input
                type="text"
                name="hosts"
                id="hosts"
                class="
                    mt-1
                    focus:ring-indigo-500 focus:border-indigo-500
                    block
                    w-full
                    shadow-sm
                    sm:text-sm
                    border-gray-300
                    rounded-md
                    py-2
                    px-4
                "
            />
        </div>
    </div>
</div>
