<tr>
    <td class="px-6 py-4 whitespace-nowrap text-center">
        <div class="text-sm text-gray-900">Portfolio</div>
    </td>
    <td class="px-6 py-4 whitespace-nowrap text-center">
        <div class="text-sm text-gray-900">haidousm/portfolio:1.0.1</div>
    </td>
    <td class="px-6 py-4 whitespace-nowrap text-center">
        <span
            class="
                px-4
                py-2
                inline-flex
                text-sm
                leading-5
                font-semibold
                rounded-md
                bg-blue-100
                text-blue-800
            "
        >
            moussa.codes
        </span>
    </td>

    <td class="px-6 py-4 whitespace-nowrap text-center">
        <span
            class="
                px-2
                inline-flex
                text-xs
                leading-5
                font-semibold
                rounded-full
                bg-green-100
                text-green-800
            "
        >
            Active
        </span>
    </td>

    <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
        <a href="#" class="text-indigo-600 hover:text-indigo-900">Edit</a>
    </td>
</tr>
